Django==2.0.5
django-object-actions==1.0.0
gunicorn==19.8.1
html5lib==1.0.1
pdfrw==0.4
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
Pyphen==0.9.4
simplegeneric==0.8.1
six==1.11.0
tinycss2==0.6.1
traitlets==4.3.2
wcwidth==0.1.7
WeasyPrint==0.42.3
webencodings==0.5.1
