{% extends "admin/base.html" %}
{% load staticfiles %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

#alterando o html padrão do admin

{% block extrastyle %}
 <style>
    #header { background-color: #7D212B; }
    .module h2, .module caption, .inline-group h2 {
      background-color: #7f484e;
    }
    a:link, a:visited {
    color: #757575;
    }

    div.breadcrumbs {
    background: #7f484e;
    color: #aaa;
    }

    #changelist-filter li.selected a {
    color: #7f484e !important;
    }

    <!-- cor de fundo do campo quantidade da pagina adicionar "item saida" -->
    input, a.button {
    background: "white";
    }

    .button, input[type="submit"],
    input[type="button"], .submit-row input, a.button {
    background: #7f484e;
    }

    .button.default, input[type="submit"].default,
    .submit-row input.default {
    background: #7f484e;
    }

 </style>
{% endblock %}

{% block branding %}

<a href="{% url 'admin:index' %}" class="django-admin-logo">
    <!-- Django Administration -->
    <img src="{% static "images/logo_ucam_teste2.png" %}" height="40px" alt="{{ site_header|default:_('Django Admin') }}" >

</a>
<h1 id="site-name"><a href="{% url 'admin:index' %}">Almoxarifado - UCAM</a></h1>

{% endblock %}

{% block nav-global %}{% endblock %}
